svg.cm-chessboard {
  .piece-selection-dialog-group {

    rect, g[data-piece] {
      animation: fade-in 0.25s ease-in;
    }

    .piece-selection-dialog {
      fill: white;
      fill-opacity: 0.9;
      stroke: rgba(0, 0, 0, 0.4);
    }

    .piece-selection-dialog-button {
      fill: transparent;
      cursor: pointer;

      &:hover {
        fill: rgba(0, 0, 0, 0.2)
      }
    }

    .piece {
      pointer-events: none;
    }
  }
}
